<div class="modal wishlist fade modal-fixed-footer">
	<div class="modal-content">
		<h4>WUNSCHLSITE</h4>
		<p style="display: none;" data-dojo-attach-point="emptyListMessageNode">Deine Wunschliste ist noch leer. 
		Klicke auf eine der <a href="/martini_sportswear#kollektion">Bildergalerien</a> und suche dir etwas aus der aktuellen 
		Kollektion aus! Mit dem kleinen Symbol links oben am Bild, kannst du das Teil in deine Wunschliste aufnehmen. Du musst
		dazu nur auf deine Wunschgröße klicken</p>
		<ul class="collection" data-dojo-attach-point="itemCollectionNode">

		</ul>		
		<p data-dojo-attach-point="emailButtonContainer" style="display: none;">
			<a class="waves-effect waves-light btn" style="background: black; border: 1px solid gray;" data-dojo-attach-event="click:_onClick_SendMail"><i class="material-icons left">email</i>an Brandstore.TIROL senden</a>
		</p>
		<div class="" style="background: black;" data-dojo-attach-point="galleriesContainerNode">
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-black btn-flat">schließen</a>
	</div>
</div>