---
layout: default
title: FÜR UNSERE DAMEN
permalink: /martini_sportswear_women
ambassador: brands.martini_sportswear.martini_sportswear_women.martini_sportswear_women
---

{% capture martini_sportswear_women %}
{{page.martini_sportswear_women}}
{% endcapture %}

</div>
{% include teaser/martini_sportswear_women-teaser.html martini_sportswear_women=martini_sportswear_women %}
 <script>
	function init_gallery(albumID){
	
		if(typeof($('#nanogalleryGeneric')) != "undefined"){
			$('#nanogalleryGeneric').nanogallery2("destroy");
			$('#nanogalleryGeneric').remove();			
		}
		
		var e = document.createElement("div");
		$(e).attr('id','nanogalleryGeneric');
		$('#galleryContainer').append(e);
		
		$("#nanogalleryGeneric").nanogallery2({
			
			/*"userID": "102674011871822108337",
			"kind": "google2",
			"google2URL": "https://brandstore.at/nanogp/nanogp.php",
			"album": albumID,
			"thumbnailWidth": "auto",
			  "thumbnailBorderVertical": 1,
			  "thumbnailBorderHorizontal": 1,
			  "colorScheme": {
				"thumbnail": {
				  "background": "rgba(0,0,0,1)"
				}
			  },
			  "thumbnailLabel": {
				"display": false,
				"descriptionMultiLine": true
			  },
			  "galleryDisplayMode": "pagination",
				"galleryMaxRows": 3,
				"gallerySorting": "titleAsc",
				"allowHTMLinData": "true",
			  "thumbnailAlignment": "center"*/

				"itemsBaseURL": "http://brandstore.at/Images/Artikel/Martini/Winter_18_19/Damen/",
        "thumbnailWidth": "200",
        "colorScheme": {
          "thumbnail": {
            "background": "rgba(0,0,0,1)"
          }
        },
        "thumbnailLabel": {
          "position": "onBottom",
          "descriptionMultiLine": true
        },
        "allowHTMLinData": true,
        "galleryDisplayMode": "pagination",
        "galleryMaxRows": 3,
        "thumbnailAlignment": "center",
        "gallerySorting": "titleasc",
        "galleryFilterTags": "description",
        "thumbnailLevelUp": true
		});
	}
	
	$( document ).ready(function(){
		document.getElementById("anchor_jacken").click(); // first tab select
	});

  </script>
<div class="container">

<div class="row">
  <div class="col s12">
  {% for martini_sportswear_women in site.data.brands.martini_sportswear_groups.martini_sportswear_women.martini_sportswear_women %}
    <h6>DAMENKOLLEKTION</h6>
    <hr style="margin-left: 0px;margin-right: 0px;">
  {% endfor %}
  </div>
</div>
<div class="row">
  <div class="col s12">
			<div class="tabs" style="background-color: black;">
      <!--{% for impression in site.data.brands.martini_sportswear_groups.martini_sportswear_women.impressionen_martini_sportswear_women %}
				<li class="tab col s3"><a id="anchor_{{impression.id}}" href="#galleryContainer" onclick="init_gallery('{{impression.albumID}}')" class="white-text" style="border-bottom-color: black;">{{impression.collections}}</a></li>
			{% endfor %}-->
			
			<a href="http://brandstore.at/Images/Artikel/Martini/Winter_18_19/Damen/6117570_Emotion_101010.jpg" data-ngthumb="6117570_Emotion_101010.jpg" data-ngdesc="Art.Nr.: 611 7570 | Farbe: 1010_10<br><b>XS, S, M, L, XL, XXL</b><br><br>Mit der Primaloft®-Jacke IMPRESS trotzt man auch den kältesten Temperaturen. Das wärmeisolierende PrimaLoft® Gold Material ist mit einer Stärke von 133g verarbeitet und bietet Wärmeisolation mit angenehmem Tragekomfort. Die Jacke ist stark wasserabweisend, komplett winddicht und kann somit sowohl als Außenjacke als auch als wärmende Schicht unter einer Hardshell-Jacke getragen werden. Zusätzlich wurde der Bund auf der Rückseite mit Silikon besetzt, wodurch die Jacke auch in Bewegung nicht verrutscht.<br><br>100 % PA + PrimaLoft® Gold 133 g<br><br>Alpine Lifestyle | Running | Trailrunning<br><br><br>€179,90">Emotion </a>
		
		</div>    
  </div>
  <div class="col s12 gallery-wrapper" id="galleryContainer">
  </div>
</div>
</div>
</div>