---
layout: default
title: FÜR UNSERE DAMEN
permalink: /martini_sportswear_women
ambassador: brands.martini_sportswear.martini_sportswear_women.martini_sportswear_women
---

{% capture martini_sportswear_women %}
{{page.martini_sportswear_women}}
{% endcapture %}

</div>

{% include teaser/martini_sportswear_women-teaser.html martini_sportswear_women=martini_sportswear_women %}
<script>
	function init_gallery(albumID){
	
		if(typeof($('#nanogalleryGeneric')) != "undefined"){
			$('#nanogalleryGeneric').nanogallery2("destroy");
			$('#nanogalleryGeneric').remove();			
		}
		
		var e = document.createElement("div");
		$(e).attr('id','nanogalleryGeneric');
		$('#galleryContainer').append(e);
		
		$("#nanogalleryGeneric").nanogallery2({
			
			"userID": "102674011871822108337",
			"kind": "google2",
			"google2URL": "https://www.brandstore.at/nanogp2/nanogp2.php",
			"album": albumID,
			"thumbnailWidth": "auto",
			  "thumbnailBorderVertical": 1,
			  "thumbnailBorderHorizontal": 1,
			  "colorScheme": {
				"thumbnail": {
				  "background": "rgba(0,0,0,1)"
				}
			  },
			  "thumbnailLabel": {
				"display": false,
				"descriptionMultiLine": true
			  },
			  "galleryDisplayMode": "pagination",
				"galleryMaxRows": 3,
				"gallerySorting": "titleAsc",
				"allowHTMLinData": "true",
			  "thumbnailAlignment": "center"
			  // "thumbnailToolbarImage" : { "topLeft":"cart"}
		});
	}
	
	$( document ).ready(function(){
		document.getElementById("anchor_jacken").click(); // first tab select
	});
</script>
	
<div class="container">
	
	<!-- Gallery 1 -->
	<div class="row">
		<div class="col s12">
		{% for martini_sportswear_women in site.data.brands.martini_sportswear_groups.martini_sportswear_women.martini_sportswear_women %}
			<h6>DAMENKOLLEKTION LAGERND</h6>
			<hr style="margin-left: 0px;margin-right: 0px;">
		{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			
			<!-- BMS Gallery -->
			<div id="womenGallery" data-nanogallery2='{
					"thumbnailWidth": "auto",
					"thumbnailBorderVertical": 1,
					"thumbnailBorderHorizontal": 1,
					"colorScheme": {
						"thumbnail": {
							"background": "rgba(0,0,0,1)"
						}
					},
					"thumbnailLabel": {
						"position": "onBottom",
						"displayDescription": false,
						"descriptionMultiLine": true
					},
					"allowHTMLinData": true,
					"galleryDisplayMode": "pagination",
					"galleryMaxRows": 3,
					"thumbnailAlignment": "center",
					"gallerySorting": "titleasc",
					"galleryFilterTags": "description",
					"thumbnailLevelUp": true,
					"thumbnailToolbarImage" : { "topLeft":"cart"}
				}'>
				{% include gallery/gallery_content_women_on_stock.html %}
			</div>
			<script>
				function shoppingCartUpdatedListener(e) {
					var gallery =  $(this);				
					var currentImage = null;
					
					var basket = gallery.nanogallery2('shoppingCartGet');
					for(var i = 0; i < basket.length; i++){
						var item = basket[i];
						
						currentImage = item.idx; // immer den zuletzt hinzugefügten artikel nehmen
					}
					
					gallery.nanogallery2('ItemDisplayInfo', gallery.nanogallery2('data').items[currentImage]);
				} 

				$("#womenGallery").on( 'shoppingCartUpdated.nanogallery2', shoppingCartUpdatedListener );
			</script>

	<!-- Gallery 2 -->
	
	<div class="row">
		<div class="col s12">
		{% for martini_sportswear_women in site.data.brands.martini_sportswear_groups.martini_sportswear_women.martini_sportswear_women %}
			<h6>DAMENKOLLEKTION SOMMER</h6>
			<hr style="margin-left: 0px;margin-right: 0px;">
		{% endfor %}
		</div>
	</div>

			<!-- BMS Gallery OLD -->
			<div id="womenGalleryold" data-nanogallery2='{
				"thumbnailWidth": "auto",
				"thumbnailBorderVertical": 1,
				"thumbnailBorderHorizontal": 1,
				"colorScheme": {
					"thumbnail": {
						"background": "rgba(0,0,0,1)"
					}
				},
				"thumbnailLabel": {
					"position": "onBottom",
					"displayDescription": false,
					"descriptionMultiLine": true
				},
				"allowHTMLinData": true,
				"galleryDisplayMode": "pagination",
				"galleryMaxRows": 3,
				"thumbnailAlignment": "center",
				"gallerySorting": "titleasc",
				"galleryFilterTags": "description",
				"thumbnailLevelUp": true,
				"thumbnailToolbarImage" : { "topLeft":"cart"}
			}'>
			{% include gallery/gallery_content_women.html %}
		</div>
		<script>
		function shoppingCartUpdatedListener(e) {
			var gallery =  $(this);				
			var currentImage = null;
			
			var basket = gallery.nanogallery2('shoppingCartGet');
			for(var i = 0; i < basket.length; i++){
				var item = basket[i];
				
				currentImage = item.idx; // immer den zuletzt hinzugefügten artikel nehmen
			}
			
			gallery.nanogallery2('ItemDisplayInfo', gallery.nanogallery2('data').items[currentImage]);
		}

		$("#womenGalleryold").on( 'shoppingCartUpdated.nanogallery2', shoppingCartUpdatedListener );
		</script>



		<!-- Gallery 3 -->
			
		<div class="row">
			<div class="col s12">
			{% for martini_sportswear_women in site.data.brands.martini_sportswear_groups.martini_sportswear_women.martini_sportswear_women %}
				<h6>DAMENKOLLEKTION WINTER</h6>
				<hr style="margin-left: 0px;margin-right: 0px;">
			{% endfor %}
			</div>
		</div>

				<!-- BMS Gallery OLD -->
				<div id="womenGalleryold" data-nanogallery2='{
					"thumbnailWidth": "auto",
					"thumbnailBorderVertical": 1,
					"thumbnailBorderHorizontal": 1,
					"colorScheme": {
						"thumbnail": {
							"background": "rgba(0,0,0,1)"
						}
					},
					"thumbnailLabel": {
						"position": "onBottom",
						"displayDescription": false,
						"descriptionMultiLine": true
					},
					"allowHTMLinData": true,
					"galleryDisplayMode": "pagination",
					"galleryMaxRows": 3,
					"thumbnailAlignment": "center",
					"gallerySorting": "titleasc",
					"galleryFilterTags": "description",
					"thumbnailLevelUp": true,
					"thumbnailToolbarImage" : { "topLeft":"cart"}
				}'>
				{% include gallery/gallery_content_women_old.html %}
			</div>
			<script>
			function shoppingCartUpdatedListener(e) {
				var gallery =  $(this);				
				var currentImage = null;
				
				var basket = gallery.nanogallery2('shoppingCartGet');
				for(var i = 0; i < basket.length; i++){
					var item = basket[i];
					
					currentImage = item.idx; // immer den zuletzt hinzugefügten artikel nehmen
				}
				
				gallery.nanogallery2('ItemDisplayInfo', gallery.nanogallery2('data').items[currentImage]);
			}

			$("#womenGalleryold").on( 'shoppingCartUpdated.nanogallery2', shoppingCartUpdatedListener );
			</script>





			<!-- google gallery
			<div class="tabs" style="background-color: black;">
					{% for impression in site.data.brands.martini_sportswear_groups.martini_sportswear_women.impressionen_martini_sportswear_women %}
						<li class="tab col s3"><a id="anchor_{{impression.id}}" href="#galleryContainer" onclick="init_gallery('{{impression.albumID}}')" class="white-text" style="border-bottom-color: black;">{{impression.collections}}</a></li>
					{% endfor %}
			</div> -->
			
		</div>
		<div class="col s12 gallery-wrapper" id="galleryContainer"></div>
</div>