---
layout: default
title: Home
---

<img style="max-width: 95%;" class="" src="{{ '/assets/img/website_lager.jpg' | prepend: site.baseurl }}" alt="">
<div style="font-weight: bold;">
	ZELLER BERG 2/888<br/>
	6330 KUFSTEIN/TIROL<br/>
	MOBIL: 0043 660 818 2310
</div>

<div style="margin-top: 64px; font-size: x-large;">
	<a href="https://www.google.at/maps/place/BRANDSTORE.TIROL/@47.5785803,12.1581529,17z/data=!3m1!4b1!4m6!3m5!1s0x477639502a2558df:0x777aa4e169edbcdb!8m2!3d47.5785767!4d12.1603416!16s%2Fg%2F11g4dt4ydq?hl=de">So findest du uns - Hier der Link zu Google Maps</a>
<div>

<div style="margin-top: 64px;">
	<a href="https://www.facebook.com/brandstore.tirol">
		<img style="" class="" src="{{ '/assets/img/fb_insta.png' | prepend: site.baseurl }}" alt="">
	</a>
<div>	